main {
  background: var(--cloud);
  max-width: 500px;
  margin: 45px auto 70px;
  padding: 15px;
  border-radius: 5px;
}

main h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  color: var(--midnight-blue);

  font-size: 18px;
}

label {
  margin-bottom: 10px;
}

input,
textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #d0d5d6;
  color: var(--midnight-blue);
  font-size: 18px;
}

textarea {
  min-height: 80px;
}

.error {
  color: var(--scarlet-red);
  font-size: 14px;
  font-weight: 700;
}

button {
  margin-left: auto;
}
